<%= render "downloads/download_preface" %>

<div id="chapters" class="userstuff">
  <% for chapter in @chapters %>
    <%= render "downloads/download_chapter", chapter: chapter %>
  <% end %>
</div>

<%= render "downloads/download_afterword" %>
